[submodule "Extracurricular-Activities-Management-Software-Frontend"]
	path = Extracurricular-Activities-Management-Software-Frontend
	url = https://github.com/MaltePetersen/Extracurricular-Activities-Management-Software-Frontend.git
[submodule "Extracurricular-Activities-Management-Software-Backend"]
	path = Extracurricular-Activities-Management-Software-Backend
	url = https://github.com/MaltePetersen/Extracurricular-Activities-Management-Software-Backend.git
[submodule "Extracurricular-Activities-Management-Software-Adminconsole"]
	path = Extracurricular-Activities-Management-Software-Adminconsole
	url = https://github.com/MaltePetersen/Extracurricular-Activities-Management-Software-Adminconsole.git
